.header {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  // .header__container
  &__container {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    min-height: 100px;
    position: relative;
  }
  // .header__logo
  &__logo {
    margin-right: 50px;
    z-index: 5;
    &::before {
      content: "";
      background: url("../img/rectangle-1.png") 0 0 no-repeat;
      width: 478px;
      height: 116px;
      position: absolute;
      top: 0;
      left: -255px;
    }
  }
  // .header__menu
  // .header__search
  &__search {
    padding: 12px 20px 12px 16px;
    min-width: 244px;
    height: 44px;
    background: #fdfdfd;
    border-radius: 46px;
    margin-right: 14px;
  }
  // .header__btn
  // .header__currency
  &__currency {
    margin-left: auto;
    background-color: transparent;
  }
}
.logo {
  position: relative;
}
.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  @media (max-width: 1155px) {
    display: none;
  }

  // .search-header__input
  &__input {
    margin: 0px 0px 0px 32px;
    border: 0;
  }
  // .search-header__btn
  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px 12px 12px 16px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/svg/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
    text-align: center;
    cursor: pointer;
  }
}
.btn {
}
.form {
  // .form__label
  &__label {
  }
  // .form__select
  &__select {
  }
  &__option {
    position: relative;
    &::before {
      content: "";
      min-height: 760px;
      color: #ffffff;
      background-color: #eeeeee;
      background-image: url(../img/svg/star.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 22px;
      height: 22px;
      top: 0;
      left: 0;
    }
  }
}
