<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <a
      href=""
      style="background-image: url(./img/logo.png)"
    ></a>
    </div>
    
    <ul class="footer__list">
      <li class="footer__item">Lorem ipsum dolor sit.</li>
      <li class="footer__item">Et quae dolorem impedit!</li>
      <li class="footer__item">Esse dolorum corrupti possimus?</li>
      <li class="footer__item">Perspiciatis cumque debitis aut.</li>
      <li class="footer__item">Aliquam sint illo tenetur!</li>
      <li class="footer__item">Explicabo iste dignissimos doloribus!</li>
    </ul>
    <ul class="footer__list">
      <li><a href="#" class="footer__item"> Lorem ipsum dolor sit.</a></li>
      <li><a href="#" class="footer__item"> Lorem ipsum dolor sit.</a></li>
      <li><a href="#" class="footer__item"> Lorem ipsum dolor sit.</a></li>
      <li><a href="#" class="footer__item"> Lorem ipsum dolor sit.</a></li>
    </ul>
    <div class="footer__interact">
      <ul class="footer__social">
        <li>
          <a
            href="#"
            class="footer__icon"
            style="background-image: url(./img/svg/star.svg)"
          ></a>
        </li>
        <li>
          <a
            href="#"
            class="footer__icon"
            style="background-image: url(./img/svg/star.svg)"
          ></a>
        </li>
        <li>
          <a
            href="#"
            class="footer__icon"
            style="background-image: url(./img/svg/star.svg)"
          ></a>
        </li>
        <li>
          <a
            href="#"
            class="footer__icon"
            style="background-image: url(./img/svg/star.svg)"
          ></a>
        </li>
      </ul>
      <div class="footer__btns">
        <button type="submit" class="footer__btn btn">Задать вопрос</button>
        <button type="submit" class="footer__btn footer__btn--roгnd btn">
          Задать ответ
        </button>
      </div>
    </div>
  </div>
</footer>
