<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        One more friend
        <span class="hero__accent"> Thousands more fun! </span>
      </h1>
      <p class="hero__text">
        Having a pet means you have more joy, a new friend, a happy person who
        will always be with you to have fun. We have 200+ different pets that
        can meet your needs!
      </p>
      <div class="hero__btn">
        <button class="hero__btn--video">
          View Intro
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 9V15L15 12L10 9Z"
              fill="#003459"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="hero__btn--modal">Explore Now</button>
      </div>
    </div>
    <div class="hero__image">
        <img
          loading="lazy"
          src="img/header.png"
          class="hero__img"
          width="910"
          height="611"
          alt="Девушка, смотрящая вдаль"
        />
    </div>
  </div>
</section>
