<section class="brand">
  <div class="brand__container swiper-container">
    <h2 class="brand__title vh">brand</h2>
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          loading="lazy"
          src="img/brand/1.png"
          class="image"
          width="152"
          height="112"
          alt="Image"
        />
      </div>
      <div class="swiper-slide">
        <img
          loading="lazy"
          src="img/brand/2.png"
          class="image"
          width="152"
          height="112"
          alt="Image"
        />
      </div>
      <div class="swiper-slide">
        <img
          loading="lazy"
          src="img/brand/3.png"
          class="image"
          width="152"
          height="112"
          alt="Image"
        />
      </div>
      <div class="swiper-slide">
        <img
          loading="lazy"
          src="img/brand/4.png"
          class="image"
          width="152"
          height="112"
          alt="Image"
        />
      </div>
      <div class="swiper-slide">
        <img
          loading="lazy"
          src="img/brand/5.png"
          class="image"
          width="152"
          height="112"
          alt="Image"
        />
      </div>
      <div class="swiper-slide">
        <img
          loading="lazy"
          src="img/brand/6.png"
          class="image"
          width="152"
          height="112"
          alt="Image"
        />
      </div>
      <div class="swiper-slide">
        <img
          loading="lazy"
          src="img/brand/7.png"
          class="image"
          width="152"
          height="112"
          alt="Image"
        />
      </div>
    </div>
    <div class="swiper-btn swiper-btn--prev"></div>
    <div class="swiper-btn swiper-btn--next"></div>
  </div>
</section>
