<section class="banner">
  <div class="banner__container">
    <div class="banner__content">
      <h2 class="banner__title title">Adoption</h2>
      <p class="description">We need help. so do they.</p>
      <p class="text">
        Adopt a pet and give it a home,<br> it will be love you back
        unconditionally.
      </p>
      <div class="banner__btn">
        <button class="banner-btn__main">Explore Now</button>
        <button class="banner-btn__intro">View Intro</button>
      </div>
    </div>
  </div>
</section>
