<section class="product">
  <div class="product__container">
    <div class="product__header">
      <div class="product__content">
        <p class="content__whois">Whats new?</p>
        <h2 class="content__title">Take a look at some of our pets</h2>
      </div>
      <button class="product__btn">
        View more
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.33337 6.66666L11.6667 9.99999L8.33337 13.3333"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="product__cards">
      <article class="product__card card">
        <div class="card__image">
          <img
            loading="lazy"
            src="img/product/product-1.png"
            class="img"
            alt="Product card dog image"
          />
        </div>
        <div class="card__content">
          <h3 class="card__title"><a href = "#">MO502 - Poodle Tiny Yellow</a></h3>
          <dl class="card__char">
            <dt>Gene:</dt>
            <dd>Female</dd>

            <dt>Age:</dt>
            <dd>02 months</dd>
          </dl>
          <p class="card__price">3.900.000 VND</p>
        </div>
      </article>
      <article class="product__card card">
        <div class="card__image l-ibg">
          <img
            loading="lazy"
            src="img/img-2.jpg"
            class="img"
            alt="Product card dog image"
          />
        </div>
        <div class="card__content">
          <h3 class="card__title"><a href = "#">MO502 - Poodle Tiny Yellow</a></h3>
          <dl class="card__char">
            <dt>Gene:</dt>
            <dd>Female</dd>

            <dt>Age:</dt>
            <dd>02 months</dd>
          </dl>
          <p class="card__price">3.900.000 VND</p>
        </div>
      </article>
      <article class="product__card card">
        <div class="card__image">
          <img
            loading="lazy"
            src="img/product/product-3.png"
            class="img"
            alt="Product card dog image"
          />
        </div>
        <div class="card__content">
          <h3 class="card__title"><a href = "#">MO502 - Poodle Tiny Yellow</a></h3>
          <dl class="card__char">
            <dt>Gene:</dt>
            <dd>Female</dd>

            <dt>Age:</dt>
            <dd>02 months</dd>
          </dl>
          <p class="card__price">3.900.000 VND</p>
        </div>
      </article>
      <article class="product__card card">
        <div class="card__image">
          <img
            loading="lazy"
            src="img/product/product-4.png"
            class="img"
            alt="Product card dog image"
          />
        </div>
        <div class="card__content">
          <h3 class="card__title"><a href = "#">MO502 - Poodle Tiny Yellow</a></h3>
          <dl class="card__char">
            <dt>Gene:</dt>
            <dd>Female</dd>

            <dt>Age:</dt>
            <dd>02 months</dd>
          </dl>
          <p class="card__price">3.900.000 VND</p>
        </div>
      </article>
      <article class="product__card card">
        <div class="card__image">
          <img
            loading="lazy"
            src="img/product/product-5.png"
            class="img"
            alt="Product card dog image"
          />
        </div>
        <div class="card__content">
          <h3 class="card__title"><a href = "#">MO502 - Poodle Tiny Yellow</a></h3>
          <dl class="card__char">
            <dt>Gene:</dt>
            <dd>Female</dd>

            <dt>Age:</dt>
            <dd>02 months</dd>
          </dl>
          <p class="card__price">3.900.000 VND</p>
        </div>
      </article>
    </div>
  </div>
</section>
